ai-blog-writer-workflow.json
{
  "name": "AI Blog Writer",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "id": "80b65c58-55a5-462a-88a9-5556a3ba342a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID",
          "mode": "list",
          "cachedResultName": "AI Blog Writer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [208, 0],
      "id": "61ee23bb-6079-4f11-abe6-e461b04e955e",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistralai/mistral-7b-instruct\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a professional blog writer for product managers.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Write a professional blog (800–1200 words).\\n\\nTopic: {{$json.Topic}}\\nTarget Audience: {{$json['Target Audience']}}\\n\\nIMPORTANT FORMATTING RULES:\\n- Do NOT use markdown\\n- Do NOT use ** or * or #\\n- Use plain text only\\n\\nSTRUCTURE:\\n1. Title\\n2. Hook\\n3. Introduction\\n4. 3–4 subheadings with content\\n5. Conclusion\\n6. Takeaway\\n\\nSTYLE:\\n- Professional\\n- Conversational\\n- Clear paragraphs\\n- No emojis\\n- Looks like a real company blog\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [400, 0],
      "id": "7ebeba6b-003d-41f2-bf16-97eaabedb8cb",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID",
          "mode": "list",
          "cachedResultName": "AI Blog Writer",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{$node[\"Get row(s) in sheet\"].json[\"row_number\"]}}",
            "Generated Blog": "={{$json.choices[0].message.content}}"
          },
          "matchingColumns": ["row_number"],
          "schema": [
            { "id": "Topic", "displayName": "Topic", "removed": true },
            { "id": "Target Audience", "displayName": "Target Audience", "removed": true },
            { "id": "Generated Blog", "displayName": "Generated Blog", "removed": false },
            { "id": "row_number", "displayName": "row_number", "readOnly": true, "removed": false }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [608, 0],
      "id": "596ddd70-7668-439b-b300-2dda84b8d5d3",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [[{ "node": "Get row(s) in sheet", "type": "main", "index": 0 }]]
    },
    "Get row(s) in sheet": {
      "main": [[{ "node": "HTTP Request", "type": "main", "index": 0 }]]
    },
    "HTTP Request": {
      "main": [[{ "node": "Update row in sheet", "type": "main", "index": 0 }]]
    }
  },
  "active": false
}
